
SceneDescription(
    mesh_objs: [
        Object(
            geometry: MeshLocation(
                obj_path: "resources/utah-teapot-lowres.obj",
                location: Point(3.0, 1.0, 1.0, 3.0),
                scale: 0.25,
            ),
            color: (0.99, 0.99, 0.99),
            material: Lambertian
        )
    ],
    triangles: [
        Object(
            geometry: (Point(0.0, -1.0, 0.0, 0.0), Point(0.0, 0.0, 1.0, 0.0), Point(0.0, 0.0, 0.0, 1.0)),
            color: (0.25, 0.25, 0.25),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, -1.0, 0.0, 0.0), Point(0.0, 0.0, 0.0, 1.0), Point(0.0, 0.0, -1.0, 0.0)),
            color: (0.25, 0.25, 0.75),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, -1.0, 0.0, 0.0), Point(0.0, 0.0, 0.0, -1.0), Point(0.0, 0.0, 1.0, 0.0)),
            color: (0.25, 0.75, 0.25),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, -1.0, 0.0, 0.0), Point(0.0, 0.0, -1.0, 0.0), Point(0.0, 0.0, 0.0, -1.0)),
            color: (0.75, 0.25, 0.25),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, 1.0, 0.0, 0.0), Point(0.0, 0.0, 1.0, 0.0), Point(0.0, 0.0, 0.0, 1.0)),
            color: (0.75, 0.75, 0.75),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, 1.0, 0.0, 0.0), Point(0.0, 0.0, 0.0, 1.0), Point(0.0, 0.0, -1.0, 0.0)),
            color: (0.25, 0.75, 0.75),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, 1.0, 0.0, 0.0), Point(0.0, 0.0, 0.0, -1.0), Point(0.0, 0.0, 1.0, 0.0)),
            color: (0.75, 0.25, 0.75),
            material: Lambertian,
        ),
        Object(
            geometry: (Point(0.0, 1.0, 0.0, 0.0), Point(0.0, 0.0, -1.0, 0.0), Point(0.0, 0.0, 0.0, -1.0)),
            color: (0.75, 0.75, 0.25),
            material: Lambertian,
        ),
        // Object(
        //     geometry: (Point(1.0, 1.0, 0.0, 1.0), Point(1.0, 0.0, 1.0, 1.0), Point(1.0, 0.0, 0.0, 1.0)),
        //     color: (0.75, 0.75, 0.25),
        //     material: Lambertian,
        // ),
        // Object(
        //     geometry: (Point(1.0, -1.0, 0.0, 1.0), Point(1.0, 0.0, 1.0, 1.0), Point(1.0, 0.0, 0.0, 1.0)),
        //     color: (0.75, 0.25, 0.25),
        //     material: Lambertian,
        // ),
        // Object(
        //     geometry: (Point(1.0, 1.0, 0.0, 1.0), Point(1.0, 0.0, -1.0, 1.0), Point(1.0, 0.0, 0.0, 1.0)),
        //     color: (0.25, 0.75, 0.25),
        //     material: Lambertian,
        // ),
        // Object(
        //     geometry: (Point(1.0, -1.0, 0.0, 1.0), Point(1.0, 0.0, -1.0, 1.0), Point(1.0, 0.0, 0.0, 1.0)),
        //     color: (0.25, 0.25, 0.25),
        //     material: Lambertian,
        // ),
    ],
    balls: [
        // Object(
        //     geometry: Ball( center: Point(0.0, 0.0, 0.0, 1.0), radius: 0.1 ),
        //     color: (3, 3, 3),
        //     material: Emissive
        // ),
        Object(
            geometry: Ball( center: Point(0.0, 0.0, 1.0, 0.0), radius: 0.1 ),
            color: (3, 3, 3),
            material: Emissive
        ),
        // Object(
        //     geometry: Ball( center: Point(0.0, 1.0, 0.0, 0.0), radius: 0.1 ),
        //     color: (3, 3, 3),
        //     material: Emissive
        // ),
        // Object(
        //     geometry: Ball( center: Point(0.0, 0.0, 0.0, 1.0), radius: 0.1 ),
        //     color: (3, 3, 3),
        //     material: Emissive
        // ),
        // Object(
        //     geometry: Ball( center: Point(1.0, 0.0, 0.0, 0.0), radius: 0.1 ),
        //     color: (3, 3, 3),
        //     material: Emissive
        // ),
        // Object(
        //     geometry: Ball( center: Point(0.0, 0.0, 1.0, 0.0), radius: 0.1 ),
        //     color: (3, 3, 3),
        //     material: Emissive
        // ),
        // Object(
        //     geometry: Ball( center: Point(0.0, 1.0, 0.0, 0.0), radius: 0.1 ),
        //     color: (3, 3, 3),
        //     material: Emissive
        // ),
    ]
)
